.view {
    margin-top: 75px;
}

footer {
    color: #fff; /* Cambia este color al que desees */
    background-color: #333; /* Cambia el color de fondo si es necesario */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 10px; /* Añade espacio interno alrededor del texto para mejorar la apariencia */
    width: 100%;
}

/* Define una clase personalizada para la fuente cursiva */
.font-cursiva 
{
    font-style: italic;
}

h2.font-cursiva 
{
    color: lightgreen; /* Cambia lightgreen al color que desees */
}

h1.font-cursiva 
{
    color:darkcyan /* Cambia lightgreen al color que desees */
}